[submodule "skrillex"]
	path = skrillex
	url = git@github.com:crowdsoundsystem/skrillex
[submodule "decisionalgorithm"]
	path = decisionalgorithm
	url = git@github.com:crowdsoundsystem/decisionalgorithm
[submodule "Objective-C-rowdSound"]
	path = Objective-C-rowdSound
	url = https://github.com/CrowdSoundSystem/Objective-C-rowdSound
