[Unit]
Description=Crowdsound Server
Requires=playsource.service
After=playsource.service

[Service]
ExecStart=/opt/crowdsound/crowdsound /opt/crowdsound/crowdsound.db

[Install]
WantedBy=multi-user.target
